.container
{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:column;
    width:100%;
    border:2px solid white;
}
.header
{
    border:2px solid white;
    color:white;
    width:100%;
}