.container
{
    padding:0;
    border:0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:column;
    background-color: rgb(0, 0, 0);
    width:100%;
    height:100vh;
}
.header
{
    color:white;
}