body
{
    margin:0;
    padding:0;
    background-color: rgb(5, 138, 255);
    height:100vh;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:column;
}